h1 {  font-family: Arial, Helvetica, sans-serif; color: #FFCC00; font-size: 24px; vertical-align: middle; text-align: center}
body {  font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: normal; color: #FFFFCC; background-color: #000000; text-align: justify}
h6 {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FFCC00; text-align: right}
a:link {  color: #FFCC00; text-decoration: none}
a {  color: #FFCC00; text-decoration: none}
body {  }
